package ${package.ServiceImpl};

import com.baomidou.mybatisplus.plugins.Page;
import ${package.Entity}.${entity};
import com.tt.bcim.${package.ModuleName}.query.${entity}DTO;
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;

import java.util.List;


/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {

    @Override
    public Page<${entity}> selectPage(Page<${entity}> page, ${entity}DTO ${table.entityPath}DTO) {
        List<${entity}> list = baseMapper.selectPageList(page, ${table.entityPath}DTO);
        page.setRecords(list);
        return page;
    }

}

